<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Título *</mat-label>
    <input matInput formControlName="title" />
    <mat-hint>3+ caracteres</mat-hint>
    <mat-error *ngIf="f['title'].hasError('trimmedRequired')">
      El título no puede estar vacío o solo espacios.
    </mat-error>
    <mat-error *ngIf="f['title'].hasError('minlengthTrimmed') && !f['title'].hasError('trimmedRequired')">
      Debe tener al menos 3 caracteres.
    </mat-error>
    <mat-error *ngIf="f['title'].hasError('notUnique') && !f['title'].hasError('trimmedRequired') && !f['title'].hasError('minlengthTrimmed')">
      Ya existe un proyecto con ese título.
    </mat-error>
    <mat-error *ngIf="f['title'].hasError('forbidden') && !f['title'].hasError('trimmedRequired') && !f['title'].hasError('minlengthTrimmed')">
      Ese título no está permitido.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Descripción *</mat-label>
    <textarea matInput rows="3" formControlName="description"></textarea>
    <mat-error *ngIf="f['description'].hasError('trimmedRequired')">
      La descripción es requerida.
    </mat-error>
    <mat-error *ngIf="f['description'].hasError('minlengthTrimmed') && !f['description'].hasError('trimmedRequired')">
      Debe tener al menos 5 caracteres.
    </mat-error>
  </mat-form-field>