<header class="topbar">
  <nav class="container">
    <a routerLink="/projects"><strong>Innclod</strong></a>
    <span class="spacer"></span>
    <a routerLink="/projects">Proyectos</a>

    <ng-container *ngIf="user$ | async as user; else loggedOut">
      <span class="user">Hola, {{ user.name }}</span>
      <button (click)="logout()">Logout</button>
    </ng-container>
    <ng-template #loggedOut>
      <a routerLink="/auth">Login</a>
    </ng-template>
  </nav>
</header>

<router-outlet></router-outlet>
