<header class="topbar">
  <nav class="container">
    <a routerLink="/projects" class="brand">
      <mat-icon>view_kanban</mat-icon>
      <strong>Innclod</strong>
    </a>
    <span class="spacer"></span>
    <a mat-button routerLink="/projects"><mat-icon>folder</mat-icon>&nbsp;Proyectos</a>

    <ng-container *ngIf="user$ | async as user; else loggedOut">
      <span class="user">Hola, {{ user.name }}</span>
      <button mat-stroked-button (click)="logout()"><mat-icon>logout</mat-icon>&nbsp;Logout</button>
    </ng-container>
    <ng-template #loggedOut>
      <a mat-stroked-button routerLink="/auth"><mat-icon>login</mat-icon>&nbsp;Login</a>
    </ng-template>
  </nav>
</header>

<router-outlet></router-outlet>
