<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
  <label>
    Título *
    <input type="text" formControlName="title" />
  </label>
  <div class="err" *ngIf="f['title'].touched">
    <ng-container *ngIf="f['title'].hasError('trimmedRequired')">
      El título no puede estar vacío o solo espacios.
    </ng-container>
    <ng-container *ngIf="!f['title'].hasError('trimmedRequired') && f['title'].hasError('minlength')">
      Debe tener al menos 3 caracteres.
    </ng-container>
    <ng-container
      *ngIf="!f['title'].hasError('trimmedRequired') && !f['title'].hasError('minlength') && f['title'].hasError('notUnique')">
      Ya existe un proyecto con ese título.
    </ng-container>
    <ng-container
      *ngIf="!f['title'].hasError('trimmedRequired') && !f['title'].hasError('minlength') && f['title'].hasError('forbidden')">
      Ese título no está permitido.
    </ng-container>
  </div>

  <mat-checkbox formControlName="completed">Completada</mat-checkbox>

  <div class="actions">
    <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">Guardar</button>
  </div>
</form>