<div class="login-wrap">
  <mat-card class="login-card">
    <mat-card-title>Login</mat-card-title>

    <form [formGroup]="form" (ngSubmit)="onLogin()">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Usuario *</mat-label>
        <input matInput formControlName="username" placeholder="sofia o carlos" />
        <mat-error *ngIf="f['username'].hasError('trimmedRequired')">
          Requerido.
        </mat-error>
        <mat-error *ngIf="!f['username'].hasError('trimmedRequired') && f['username'].hasError('minlengthTrimmed')">
          Debe tener al menos 3 caracteres.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Contraseña *</mat-label>
        <input matInput [type]="showPassword ? 'text' : 'password'" formControlName="password" placeholder="1234" />
        <button mat-icon-button matSuffix type="button" (click)="showPassword=!showPassword"
          [attr.aria-label]="showPassword ? 'Ocultar' : 'Mostrar'">
          <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="f['password'].hasError('trimmedRequired')">
          Requerida.
        </mat-error>
        <mat-error *ngIf="!f['password'].hasError('trimmedRequired') && f['password'].hasError('minlengthTrimmed')">
          Debe tener al menos 4 caracteres.
        </mat-error>
      </mat-form-field>

      <div class="row">
        <mat-checkbox formControlName="remember">Recordarme</mat-checkbox>
        <span class="spacer"></span>
        <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid || loading">
          {{ loading ? 'Entrando...' : 'Entrar' }}
        </button>
      </div>

      <div class="hint">
        <small>Usuarios de prueba: <code>sofia</code> / <code>carlos</code> con clave <code>1234</code></small>
      </div>

      <mat-error *ngIf="error" class="center">{{ error }}</mat-error>
    </form>
  </mat-card>
</div>